<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to a shit {{ title }}!
  </h1>
  <input ng-model="searchText" placeholder="enter movie title here">
  <table>
    <th>
      Title
    </th>
    <th>
      Cheapest
    </th>
    <th>
      Cinemaworld
    </th>
    <th>
      Filmword
    </th>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.Title }}</td>
      <!--td>{{ movie.Price.Minimum | currency}}</td>
      <td>{{ movie.Price.Cinemaworld | currency}}</td>
      <td>{{ movie.Price.Filmworld | currency}}</td-->
    </tr>
  </table>  
</div>