<form>
  <mat-form-field class="row">
    <input class="col-sm-12" matInput placeholder="Please enter a movie title"  [matAutocomplete]="auto" [formControl]="movieCtrl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
      <mat-option (onSelectionChange)="onEnter($event)" *ngFor="let movie of filteredMovies | async" [value]="movie">       
        <span>{{ movie.title }}</span>     
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<div>{{cost|currency}}</div>