<form>
  <mat-form-field>
    <input matInput placeholder="Please enter a movie title"  [matAutocomplete]="auto" [formControl]="movieCtrl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
      <mat-option (onSelectionChange)="onEnter($event)" *ngFor="let movie of filteredMovies | async" [value]="movie">       
        <span>{{ movie.title }}</span>     
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<div *ngIf="resultFound">{{cheapestMovie?.Provider}} has the cheapest copy for: {{cheapestMovie?.Price|currency}}</div>
<div *ngIf="isSearching">Calculating...</div>